:root {
  --bg: black;
  --fg: white;
  --shake: 6%;
}
/* *{ */
/*   background: rgb(225 225 225 / 0.1); */
/* } */
html,body{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  background: var(--bg);
  color: var(--fg);

}
.header{
  height: 20%;
}
.chat-wrapper {
  width: 100vw;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: scroll;
}
.chat-container {
  width: 100vw;
  height: 99vh;
}
h2,h3{
  font-size:  bold;
  color: var(--fg);
  text-align: center;
  margin: 0;
}

h2{
  width: 100%;
  background: rgb(25 25 25 / 0.3);
  /* backdrop-filter: blur(10px); */
}
.mask{
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 5em;
  color: white;
}
.mask svg {
  margin: 0;
  padding: 0;
  filter: drop-shadow( 0px 0px 10px white );
}
.menu {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu input {
  font: inherit;
  color: white;
  width: 60vw;
  text-align: center;
  border: 2px solid white;
  font-size: 0.9rem;
  border-radius: 100px;
  padding: 8px 12px;
  background: none;
}
.menu input:focus{
  outline: 2px solid white;
}
input::placeholder{
  color: white !important;
}
.chat-btn{
  background: none;
  outline: none;
  border: none;
  color: white;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}
.arr svg{
    transform: translate(0,10%);
    animation: shake 800ms linear alternate infinite;
}
.err {
  height: 1rem;
  margin-bottom: 3vh;
}
.err-msg{
  color: #FF3838;
  animation: err-shake 0.5s linear;
}
@keyframes err-shake {
  0%{
    transform: translateX(calc(var(--shake)*-1));
  }
  25%{
    transform: translateX(var(--shake));
  }
  50%{
    transform: translateX(calc(var(--shake)*-1));
  }
  75% {
    transform: translateX(var(--shake));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  from{
    transform: translate(0,10%);
  } to {
    transform: translate(10px,10%);
  }
}
